<div class="form-group">
  <label for="firstName">Name</label><br>
  <input type="text" class="form-control" id="firstName" name="player[first_name]" value="<%= @player.first_name %>">
</div>

<!-- <div class="form-group">
  <label for="lastName">Last Name</label><br>
  <input type="text" class="form-control" id="lastName" name="player[last_name]" value="<%= @player.last_name %>">
</div> -->

<div class="form-group">
  <label>Email</label><br>
  <input type="email" class="form-control" name="player[email]" value="<%= @player.email %>">
</div>
