<label>First Name:</label>
<input type="text" name="player[first_name]" value="<%= @player.first_name %>"><br>

<label>Last Name:</label>
<input type="text" name="player[last_name]" value="<%= @player.last_name %>"><br>

<label>Email:</label>
<input type="text" name="player[email]" value="<%= @player.email %>"><br>
