<link rel="stylesheet" href="/css/board.css">
<div id="top">
  <div class="bar"></div>
      <a href="https://scoutapp.com" target="_blank"><img src="/images/scout_high_res_on_dark.png"/></a>
</div>

<div id="header">
  <span>Thanks for playing!</span>
</div>

<div id="header">
  <span>Claim your</span> 
  <span><a href="https://dashboard.startupthreads.com/giveaways/scout-devopsdaysrox/claim">Scout T-Shirt!</a></span>
</div>
