<div class="container">
  <h1>Welcome to DevOps Bingo!</h1>
	<img id="signup_logo" src="/images/devops-days-rockies.png"/>
  <form class="signup" method="POST" action="/players">
    <%= erb :'players/_form' %>

    <button type="submit" class="btn btn-default btn-primary">Get Started</button>
  </form>
</div>

<script type="text/javascript">
	$("#firstName").focus();
</script>