<link rel="stylesheet" href="/css/board.css">
<div id="top">
  <div class="bar"></div>
      <a href="https://scoutapp.com" target="_blank"><img src="/images/scout_high_res_on_dark.png"/></a>
</div>

<div id="header">
  <span>The winner is...</span>
</div>

<div id="header">
  <span><%= @winner.first_name %></span>
  <span><%= @winner.email %></span>
</div>



