<!doctype html>
<html lang="en">
<head>
  <title>DevOps Bingo</title>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/styles.css">
  <meta charset="utf-8">
</head>
<body onLoad="javascript:loadJargon()">
  <%= yield %>
  <script src="js/app.js"></script>
</body>
</html>
